{% extends 'frontend/Gerente/base.html' %}

{% block content %}
<div class="table-data">
  <div class="order">
    <div class="head">
      <h3>Usuarios Capataz</h3>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrar
        Usuario</button>

      <!-- Formulario de búsqueda para Usuarios Capataz -->
      <form action="{% url 'homeGerente' %}" method="GET" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar por nombre" aria-label="Search"
          name="search_capataz" value="{{ request.GET.search_capataz }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <table>
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users_capataz %}
        <tr>
          <td>
            <p>{{ user.username }}</p>
          </td>
          <td>
            {{ user.first_name }}
          </td>
          <td>
            {{ user.id }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="order">
    <div class="head">
      <h3>Usuarios Director</h3>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrar
        Usuario</button>

      <!-- Formulario de búsqueda para Usuarios Gerente -->
      <form action="{% url 'homeGerente' %}" method="GET" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar por nombre" aria-label="Search"
          name="search_director" value="{{ request.GET.search_director }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <table>
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users_director %}
        <tr>
          <td>
            <p>{{ user.username }}</p>
          </td>
          <td>
            {{ user.first_name }}
          </td>
          <td>
            {{ user.id }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="table-data">
  <div class="order">
    <div class="head">
      <h3>Ayudantes</h3>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrar
        Usuario</button>

      <!-- Formulario de búsqueda para Usuarios Ayudantes -->
      <form action="{% url 'homeGerente' %}" method="GET" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar por nombre" aria-label="Search"
          name="search_capataz" value="{{ request.GET.search_capataz }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <table>
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users_ayudante %}
        <tr>
          <td>
            <p>{{ user.username }}</p>
          </td>
          <td>
            {{ user.first_name }}
          </td>
          <td>
            {{ user.id }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="order">
    <div class="head">
      <h3>Peones</h3>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Registrar
        Usuario</button>

      <!-- Formulario de búsqueda para Usuarios Peones -->
      <form action="{% url 'homeGerente' %}" method="GET" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar por nombre" aria-label="Search"
          name="search_director" value="{{ request.GET.search_director }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <table>
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users_peon %}
        <tr>
          <td>
            <p>{{ user.username }}</p>
          </td>
          <td>
            {{ user.first_name }}
          </td>
          <td>
            {{ user.id }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Registro de usuarios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% load crispy_forms_tags %}
        <br>
        <form id="register-form" action="" method="post">
          {% csrf_token %}
          <div class="card mx-auto" style="width: 30rem;">
            <div class="card-body">
              <h5 class="card-title">Complete todos los campos</h5>
              {{ form|crispy }}
              <button class="btn btn-sm btn-primary aling-items-center" type="submit">Registrar Usuario</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}