body {
    
    background: #ffffff !important;
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    margin: 0;
}

.navbar-home{
    background-color: #0f4c75 !important;
}
.sidebar{
    background-color: #0f4c75 !important;
}

.logo{
    background-color: #1b262c;
}

